img
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
    pointer-events:none;
}

div.scene_background
{

}

div.background_map_row
{
    position: relative;
    margin-top: -5px;
}