body
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

div.scene_container
{
    position: absolute;
    height: 750px;
    width: 750px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}